<!DOCTYPE html>
<html lang="en-US">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <title>無料の一括ツイ消しツール！</title>
  <link rel="canonical" href="{{ page.redirect.to }}">
  <script>location="{{ page.redirect.to }}"</script>
  <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
  <meta name="robots" content="noindex">
  <meta name="description" content="有料化に対応！ 無料で一括ツイ消し！ ポスト全消しができるツイートクリーナーです">
  <meta property="og:site_name" content="無料の一括ツイ消しツール！">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://x-delete.github.io/">
  <meta property="og:title" content="無料の一括ツイ消しツール！">
  <meta property="og:description" content="有料化に対応！ 無料で一括ツイ消し！ ポスト全消しができるツイートクリーナーです">
  <meta property="og:image" content="https://x-delete.github.io/img/ogp2.png">
  <meta property="og:image:alt" content="一括ツイ消しツール">
  <meta property="twitter:card" content="summary_large_image">
</head>

<body>
  <h1>Redirecting&hellip;</h1>
  <a href="{{ page.redirect.to }}">Click here if you are not redirected.</a>
</body>
</html>
