<!DOCTYPE html>
<html>
<head>
<link rel="canonical" href="{{ page.redirect_to }}"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="0;url={{ page.redirect_to }}" />
    <meta property="og:site_name" content="無料の一括ツイ消しツール！">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://abshrimp.github.io/">
    <meta property="og:title" content="無料の一括ツイ消しツール！">
    <meta property="og:description" content="有料化に対応！ 無料で一括ツイ消し！ ポスト全消しができるツイートクリーナーです">
    <meta property="og:image" content="https://abshrimp.github.io/img/ogp2.png">
    <meta property="og:image:alt" content="一括ツイ消しツール">
    <meta property="twitter:card" content="summary_large_image">
</head>
<body>
    <h1>Redirecting...!</h1>
      <a href="{{ page.redirect_to }}">Click here if you are not redirected.<a>
      <script>location='{{ page.redirect_to }}'</script>
    <meta property="og:site_name" content="無料の一括ツイ消しツール！">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://abshrimp.github.io/">
    <meta property="og:title" content="無料の一括ツイ消しツール！">
    <meta property="og:description" content="有料化に対応！ 無料で一括ツイ消し！ ポスト全消しができるツイートクリーナーです">
    <meta property="og:image" content="https://abshrimp.github.io/img/ogp2.png">
    <meta property="og:image:alt" content="一括ツイ消しツール">
    <meta property="twitter:card" content="summary_large_image">
</body>
</html>
